 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/360_F_294859777_pD0UMlcW0jK7mXw0DGo1Y92dYfvQPBl5.jpg");
  background-position: 50% 73.8%;
}

.u-section-1 .u-sheet-1 {
  min-height: 718px;
}

.u-section-1 .u-text-1 {
  font-family: "Alegreya Sans";
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 143deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-size: 5rem;
  margin: 271px auto 0;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 143deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-size: 1.875rem;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  margin: 0 auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 252px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 151px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 21px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 352px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 121px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
    margin-left: 11px;
    margin-right: 11px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.125rem;
    margin-top: 209px;
  }

  .u-section-1 .u-text-2 {
    margin-right: -36px;
    margin-left: 0;
  }
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-text-1.u-text-1.u-text-1:hover {
  color: #8c1c1c !important;
  text-shadow: 2px 2px 8px rgba(0,0,0,1) !important;
}

.u-section-1 .u-text-1.u-text-1.u-text-1.hover {
  color: #8c1c1c !important;
  text-shadow: 2px 2px 8px rgba(0,0,0,1) !important;
}

.u-section-1 .u-text-2,
.u-section-1 .u-text-2:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-text-2.u-text-2.u-text-2:hover {
  color: #8c1c1c !important;
  text-shadow: 2px 2px 8px rgba(0,0,0,1) !important;
}

.u-section-1 .u-text-2.u-text-2.u-text-2.hover {
  color: #8c1c1c !important;
  text-shadow: 2px 2px 8px rgba(0,0,0,1) !important;
} .u-section-2 {
  background-image: none;
  min-height: 866px;
}

.u-section-2 .u-line-1 {
  transform-origin: right center 0px;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  width: 296px;
  height: 435px;
  --animation-custom_in-scale: 1;
  margin: 0 calc(((100% - 1140px) / 2) + -18px) 0 auto;
}

.u-section-2 .u-text-1 {
  font-family: Bilbo;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -233px 289px 0;
}

.u-section-2 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(140,28,28,1);
  background-image: none;
  font-family: Bilbo;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -204px auto 0;
}

.u-section-2 .u-line-2 {
  margin-top: 253px;
  margin-bottom: 0;
  transform-origin: right center 0px;
}

.u-section-2 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(140,28,28,1);
  background-image: none;
  font-family: Bilbo;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 32px auto 0;
}

.u-section-2 .u-text-4 {
  font-family: Bilbo;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 605px;
  margin: 19px auto 0;
}

.u-section-2 .u-line-3 {
  transform-origin: right center 0px;
  margin-top: 80px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    margin-right: calc(((100% - 940px) / 2) + -18px);
  }

  .u-section-2 .u-text-1 {
    transition-duration: 0.5s;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    margin-right: calc(((100% - 720px) / 2) + -18px);
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 945px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 7px;
    margin-right: calc(((100% - 540px) / 2) + -44px);
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -281px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -243px;
    margin-left: calc(((100% - 540px) / 2) + 50px);
  }

  .u-section-2 .u-line-2 {
    margin-top: 301px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 44px;
  }

  .u-section-2 .u-text-4 {
    width: 540px;
    margin-top: 39px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 727px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 0;
  }

  .u-section-2 .u-image-1 {
    width: 251px;
    height: 369px;
    margin-top: -4px;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: -186px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -136px;
    margin-left: calc(((100% - 340px) / 2) + 50px);
  }

  .u-section-2 .u-line-2 {
    margin-top: 204px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 60px;
  }

  .u-section-2 .u-text-4 {
    width: 340px;
    margin-top: 15px;
  }

  .u-section-2 .u-line-3 {
    margin-top: 60px;
    margin-bottom: -2px;
  }
} .u-section-3 {
  background-image: none;
  min-height: 854px;
}

.u-section-3 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(140,28,28,1);
  background-image: none;
  font-family: Bilbo;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 39px auto 0;
}

.u-section-3 .u-text-2 {
  font-family: Bilbo;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 605px;
  margin: 14px auto 0;
}

.u-section-3 .u-custom-html-1 {
  min-height: 507px;
  width: 336px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 39px auto 0;
}

.u-section-3 .u-text-3 {
  font-family: Bilbo;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 605px;
  margin: 32px auto 0;
}

.u-section-3 .u-line-1 {
  transform-origin: right center 0px;
  margin-top: 32px;
  margin-bottom: 4px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-custom-html-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 756px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 23px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-custom-html-1 {
    margin-top: 45px;
  }

  .u-section-3 .u-text-3 {
    width: 340px;
    margin-top: 23px;
  }

  .u-section-3 .u-line-1 {
    margin-top: 23px;
    margin-bottom: 0;
  }
}